#loader_container {
    height: 100%;
    width: 100%;
    position: fixed;
    cursor: wait;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 100000;
    background: rgb(229, 229, 233);
    background: linear-gradient(90deg, #f1f1f1 0%, #efefef 50%, #f1f1f1 100%);
    background: -webkit-linear-gradient(90deg, #f1f1f1 0%, #efefef 50%, #f1f1f1 100%);
    background: -moz-linear-gradient(90deg, #f1f1f1 0%, #efefef 50%, #f1f1f1 100%);
    background: -ms-linear-gradient(90deg, #f1f1f1 0%, #efefef 50%, #f1f1f1 100%);
    background: -o-linear-gradient(90deg, #f1f1f1 0%, #efefef 50%, #f1f1f1 100%);
    cursor: wait;
}

#loader {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
}